.Time{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    width:90%;
    justify-content: space-evenly;
    padding: 30px;

} 

.TimesWrapper{
    display: flex;
    flex-wrap:  wrap;
    width:100%;
    margin:auto;
    justify-content: space-evenly;
    align-items: center;
}


.Comments{
    border-left: 1px solid lightgray;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid lightgray

}
.Comments h3{
    text-align: left;
    color: dimgray;
}
.Comments textarea{
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 200px;
    font-size: 18px;
    background-color: white;
    justify-content: center;
}

.Start-stop{
    margin : auto;
    background-color: black;
}